{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block content %}

    {% include 'menu.html' %}

    <div class="container-fluid">
        <div class="row my-3">
            
            <div class="col">
                <div class="col">
                    <div class="card border-primary text-center">
                        <div class="card-header text-primary"><a class="nav-item mx-2" href="#moderators_table">Администраторы</a></div>
                        <div class="card-body text-primary">
                            {% if admins_count %}
                            <h1 id="admins_count" class="card-title">
                                {{ admins_count }}
                            </h1>
                            {% else %}
                            <h1 id="moderators_count" class="card-title">0</h1>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="col">
                    <div class="card border-primary text-center">
                        <div class="card-header text-primary"><a class="nav-item mx-2" href="#moderators_table">Модераторы</a></div>
                        <div class="card-body text-primary">
                        {% if moderators_count %}
                            <h1 id="moderators_count" class="card-title">
                                {{ moderators_count }}
                            </h1>
                        {% else %}
                            <h1 id="moderators_count" class="card-title">0</h1>
                        {% endif %}
   
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col">
                <div class="col">
                    <div class="card border-primary text-center">
                        <div class="card-header text-primary"><a class="nav-item mx-2" href="#parsers_table">Парсеры</a></div>
                        <div class="card-body text-primary">
                        {% if parsers_count %}
                            <h1 id="parsers_count" class="card-title">
                                {{ parsers_count }}
                            </h1>
                        {% else %}
                            <h1 id="parsers_count" class="card-title">0</h1>
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col">
                <div class="col">
                    <div class="card border-primary text-center">
                        <div class="card-header text-primary"><a class="nav-item mx-2" href="#clients_table">Клиенты</a></div>
                        <div class="card-body text-primary">
                            {% if clients_count %}
                            <h1 id="clients_count" class="card-title">
                                {{ clients_count }}
                            </h1>
                            {% else %}
                            <h1 id="clients_count" class="card-title">
                                0
                            </h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    
        </div>


        <!-- Таблица пользователи -->
        <div class="row my-5 mx-3">

            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr class="bg-primary">
                        <td id="moderators_table" class="text-white" colspan="7">Пользователи</td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Активен</th>
                        <th scope="col" class="text-center">Время последнего входа</th>
                        <th scope="col" class="text-center">Время последнего выхода</th>
                        <th scope="col" class="text-center">Действия</th>
                    </tr>
                </thead>
                <tbody id="dc-users-table">
                {% if users %}
                    {% for user in users %}
                    <tr id="user_row_{{ user.id }}">
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.roles[0].name }}</td>
                        <td class="dc_user_status">{{ user.active }}</td>
                        <td class="text-center">{{ user.last_login_at }}</td>
                        <td class="text-center">{{ user.last_logout_at }}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-outline-primary mr-2" onclick="activ_deactiv_user( {{ user.id }} )">Актив./Деактив.</button>
                            <button class="del_user_btn btn btn-sm btn-outline-danger mr-2"  onclick="del_user( {{ user.id }} )">Удалить</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                    
                </tbody>
                <!-- Создание пользователя -->
                <tr class="table-active">
                    <td class="text-white" colspan="7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Логин и пароль</span>
                            </div>
                            <input id="input_new_user_login" type="text" class="form-control">
                            <input id="input_new_user_password" type="password" class="form-control">
                            
                            <select id="select_new_user_role" class="custom-select" id="inputGroupSelect01">
                                <option value="moderator" selected>Модератор</option>
                                <option value="admin">Администратор</option>
                            </select>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="add_user()">Создать</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Таблица парсеры -->
        <div class="row my-5 mx-3">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr class="bg-primary">
                        <td id="parsers_table" class="text-white" colspan="5">Парсеры</td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col" class="text-center">Токен</th>
                        <th scope="col" class="text-center">Действия</th>
                    </tr>
                </thead>
                <tbody id="dc-parsers-table">
                {% if parsers %}
                    {% for parser in parsers %}
                    <tr id="parser_row_{{ parser.id }}">
                        <th scope="row">{{ parser.id }}</th>
                        <td><a href="/admin_panel/parsers/{{ parser.id }}">{{ parser.name }}</a></td>
                        <td class="text-center">{{ parser.token }}</td>
                        <td class="text-center">
                            <button class="del_user_btn btn btn-sm btn-outline-danger mr-2" onclick="del_parser( {{ parser.id }} )">Удалить</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
                <tr class="table-active">
                    <td class="text-white" colspan="7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Имя</span>
                            </div>
                            <input id="input_new_parser" type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary " type="button" id="button-addon2" onclick="add_parser()">Создать</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Таблица клиенты -->
        <div class="row my-5 mx-3">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr class="bg-primary">
                        <td id="clients_table" class="text-white" colspan="7">Клиенты</td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Создатель</th>
                        <th scope="col" class="text-center">Активен</th>
                        <th scope="col" class="text-center">Токен</th>
                        <th scope="col" class="text-center">Действует до</th>
                        <th scope="col" class="text-center">Последний вход</th>
                    </tr>
                </thead>
                <tbody>
                {% if clients %}
                    {% for client in clients %}
                    <tr id="{{ client.id }}">
                        <th scope="row">{{ client.id }}</th>
                        <td>{{ client.name }}</td>
                        <td>{{ client.user.name }}</td>
                        <td class="text-center">{{ client.active }}</td>
                        <td class="text-center">{{ client.token }}</td>
                        <td class="text-center">{{ client.token_expiration }}</td>
                        <td class="text-center">{{ client.last_login_at }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}