{% extends "base.html" %}

{% block header %}
<style>
    .dc-text-red {
        color: red;
    }

    .dc-text-green {
        color: green;
    }
</style>
{% endblock %}

{% block content %}
    {% include 'menu.html' %}
    
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h4 class="mb-2">Зарегистрированные парсеры:</h4>
                {% if data %}
                    {% for row in data %}
                    <div id="row_{{ row.id }}" class="row dc-text-green">
                        <div class="col-2">{{ row.id }}</div>
                        <div class="col-4">{{ row.name }}</div>
                        <div class="col-1">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span onclick="del_parser('{{ row.id }}')" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="dc-text-red">Зарегистрированных парсеров не обнаружено!</div>
                {% endif %}
            </tbody>
        </table>
            </div>
            <div class="col">
                <h4 class="mb-2">Добавить новый парсер:</h4>
                <form action="{{ url_for('dashboard') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col">
                            {{ form.name(size=20, class="form-control", placeholder="Парсер") }}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col">
                <h4 class="mb-2">Последние запросы:</h4>
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">id</th>
                            <th class="text-center" scope="col">Parser</th>
                            <th class="text-center" scope="col">Datastamp</th>
                            <th class="text-center" scope="col">Json</th>
                        </tr>
                    </thead>
                    <tbody  id="dc_result"></tbody>
                </table>
            </div>    
        </div>
    </div>

  
    
{% endblock %}

{% block script %}

    <script>
        
        get_last_data()

        setInterval(() => {
            get_last_data()
        }, 10000)
        
    </script>

{% endblock %}