{% extends "base.html" %}

{% block header %}
<style>
    form {
        margin: auto;
        margin-top: 10%;
        padding: 30px;
        width: 400px;
        border: 2px solid blueviolet;
        border-radius: 1%;
    }
</style>
<script> src="{{ url_for('static', filename='js/add_user.js') }}"</script>
{% endblock %}

{% block content %}

<div class="container">
        
    {% if message %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Ошибка</button>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        {{ message }}
        </div>
    </div>
    </div>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
        <h3 class="text-center mt-3 mb-5">Авторизация</h3>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name(size=20, class="form-control", placeholder="Пользователь") }}
        </div>
        <div class="form-group">
            {{ form.password(size=20, class="form-control", placeholder="Пароль") }}
        </div>
        <div class="row justify-content-end">
            <button type="submit" class="btn btn-primary">Вход</button>
        </div>
    </form>
        
</div>


{% endblock %}