{% extends "base.html" %}

{% block header %}
<style>
    .dc-text-red {
        color: red;
    }

    .dc-text-green {
        color: green;
    }

    .dc_info_block {
        background-color: #30626b;
        color: white;
        height: 6em;

    }

    .row {
        height: 150px;
    }

</style>
{% endblock %}

{% block content %}
    {% include 'menu.html' %}

    <div class="container">
        <div class="row mt-3 mb-3">
        
        
            <div class="col">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">Модераторы</div>
                        <div class="card-body">
                            <h1 class="card-title">0</h1>
                            <a href="#" class="btn btn-primary">Переход >></a>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="col">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">Парсеры</div>
                        <div class="card-body">
                            <h1 class="card-title">0</h1>
                            <a href="#" class="btn btn-primary">Переход >></a>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <div class="col">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">Клиенты</div>
                        <div class="card-body">
                            <h1 class="card-title">0</h1>
                            <a href="#" class="btn btn-primary">Переход >></a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    
    
{% endblock %}

{% block script %}

    <!-- <script>
        
        get_last_data()

        setInterval(() => {
            get_last_data()
        }, 10000)

    </script> -->

{% endblock %}