{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
{% endblock %}

{% block content %}
    {% include 'menu.html' %}

    <div class="container-fluid">
        
        <div class="row my-3 mx-1">  

            <div class="card-deck m-auto w-100">
            
                <div class="card border-primary text-center w-40">
                    <div class="card-header text-primary">Клиенты</div>
                    <div class="card-body">
                    {% if clients %}
                        <h1 id="clients_count" class="card-title"> {{ clients|count }}</h1>
                    {% else %}
                        <h1 id="clients_count" class="card-title">0</h1>
                    {% endif %}
                    </div>
                </div>
            
                <div class="card border-primary text-center w-60">
                    <div class="card-header text-primary">Новый клиент</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-8 col-lg-10">
                                <input type="text" class="form-control mt-2" , placeholder="Клиент">
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <a href="#" class="dc-circle-btn btn btn-lg btn-primary mr-2">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            
            

        </div>

        <div class="row my-5 mx-3">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr class="bg-primary">
                        <td id="moderators_table" class="text-white" colspan="6">Клиенты:</td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col " class="text-center">Имя</th>
                        <th scope="col " class="text-center">Активен</th>
                        <th scope="col " class="text-center">Токен</th>
                        <th scope="col " class="text-center">Действует до</th>
                        <th scope="col " class="text-center">Действия</th>
                    </tr>
                </thead>
                <tbody id="dc-clients-table">
                    
                {% if clients %}    
                    {% for row in clients %}
                    <tr id="{{ row.id }}">
                        <td class="text-center">{{ row.id }}</td>
                        <td class="text-center">{{ row.name }}</td>
                        <td class="text-center">{{ row.active }}</td>
                        <td class="text-center">{{ row.token }}</td>
                        <td class="text-center">{{ row.token_expiration }}</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-outline-primary mr-2">продлить</a>
                            <a href="#" class="btn btn-sm btn-outline-warning mr-2">деактивировать</a>
                            <a href="#" class="btn btn-sm btn-outline-danger mr-2">удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                    
                </tbody>
            </table>
        </div>

    </div>
    
    
{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
        
        // get_moderator_info()

        // setInterval(() => {
        //     get_moderator_info()
        // }, 30000);

    </script>

{% endblock %}