500{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
{% include 'menu.html' %}

<div class="container">
    <ul>
        <li><a href="/api/v1.0/add_user">Добавление пользователя /api/v1.0/add_user - для авторизованного админа</a></li>
        <li><a href="/api/v1.0/del_user">Удаление пользователя /api/v1.0/del_user - для авторизованного админа</a></li>
        <li><a href="/api/v1.0/add_parser">Добавление парсера /api/v1.0/add_parser - для авторизованного админа</a></li>
        <li><a href="/api/v1.0/del_parser">Удаление парсера /api/v1.0/del_parser - для авторизованного админа</a></li>
        <li><a href="/api/v1.0/add_client">Добавление клиента /api/v1.0/add_client - для авторизованного админа или модератора</a></li>
        <li><a href="/api/v1.0/del_client">Удаление клиента /api/v1.0/del_client - для авторизованного админа или модератора</a></li>
        <li><a href="/api/v1.0/parser/get_last_query/10">Получение n-последних записей парсера /api/v1.0/parser/get_last_query/10 -
            для авторизованного админа</a></li>
        <li><a href="/api/v1.0/parser/get_count">Получение количества зарег. парсеров /api/v1.0/parser/get_count - для
            авторизованного админа</a></li>
        <li><a href="/api/v1.0/client/get_count">Получение количества зарег. клиентов /api/v1.0/client/get_count - для
            авторизованного админа или модератора</a></li>
        <li><a href="/api/v1.0/moderator/get_count">Получение количества зарег. модераторов /api/v1.0/moderator/get_count - для
            авторизованного админа</a></li>
    </ul>
    
   
    
    
    
   
   
    
    
    
</div>

{% endblock %}